<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mobile10.avaliasim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activities.ResetActivity" />
        <activity
            android:name=".presentation.activities.TabLayoutContainerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".presentation.activities.AppPermissionsActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".presentation.activities.DeliverableDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Coletar dados analitcs -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="true" />
        <activity android:name=".presentation.activities.UserEditionActivity" />
        <activity android:name=".presentation.activities.NewRatingActivity" />
    </application>

</manifest>